# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

# Paso 1: Compilación con un solo agente
jobs:
- job: Build
  displayName: 'Build job (single agent)'
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '6.0.x'

  # Cambiado: usar 'dotnet publish' en lugar de 'dotnet build'
  - script: dotnet publish --configuration Release --output $(Build.ArtifactStagingDirectory)
    displayName: 'Publish compiled output'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'


# Paso 2: Ejecución de pruebas en paralelo
- job: Test
  displayName: 'Run tests in parallel'
  dependsOn: Build  # Espera que termine el job anterior
  pool:
    vmImage: 'windows-latest'
  strategy:
    parallel: 2  # Ejecuta los tests en 2 agentes en paralelo
  steps:
  - task: DownloadBuildArtifacts@1
    inputs:
      buildType: 'current'
      downloadType: 'single'
      artifactName: 'drop'
      downloadPath: '$(System.DefaultWorkingDirectory)'

  - task: VSTest@2
    inputs:
      testSelector: 'testAssemblies'
      testAssemblyVer2: |
        *\*test.dll
        !\*TestAdapter.dll
        !\obj\**
      searchFolder: '$(System.DefaultWorkingDirectory)'
      runInParallel: true
      codeCoverageEnabled: true